src/main/mule/my-ci-cd-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e60ea4c-6aa2-4487-81e5-de0f856af8ce" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-ci-cd-appFlow" doc:id="e0c53dcd-7ac1-406a-ac38-747a1fcb370b" >
		<http:listener doc:name="Listener" doc:id="90275d2f-9d05-4fee-80b1-90516840b1c1" config-ref="HTTP_Listener_config" path="/mycicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="376d5c37-871b-4420-8120-b4490d831244" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="a59910ee-d5dd-49ac-841f-e3e159269f49" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "cicd app deployment successfully completed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="485ae94a-131d-4516-89f6-31f4d1cbe881" message="#[payload]"/>
	</flow>
</mule>
